@page "/myorders/{orderid:int}"
@inject HttpClient HttpClient
@using System.Threading


<div class="main">
    @if (InvalidOrder)
    {
        <h2>No</h2>
        <p>Lo sentimos esta orden no es válida</p>
    }
    else if (OrderWithStatus == null)
    {
        <text>Cargando ...</text>
        <div class="loading-bar" />
    }
    else
    {
        <div class="track-order">
            <div class="track-order-title">
                <h2>Pedido realizado @OrderWithStatus.Order.CreatedTime.ToLongDateString()</h2>
                <p class="ml-auto mb-0">Estatus: <strong>@OrderWithStatus.StatusText</strong></p>
            </div>
            <div class="track-order-body">
                Mostrar más detalle ...
            </div>
        </div>
    }

</div>

@code {
    [Parameter]
    public int OrderId { get; set; }

    OrderWithStatus OrderWithStatus;
    bool InvalidOrder;

    CancellationTokenSource PollingCancelationToken;

    protected override void OnParametersSet()
    {
        PollingCancelationToken?.Cancel();
        PollForUpdates();
    }

    private async void PollForUpdates()
    {
        PollingCancelationToken = new CancellationTokenSource();
        while (!PollingCancelationToken.IsCancellationRequested)
        {
            try
            {
                InvalidOrder = false;
                OrderWithStatus = 
                    await HttpClient.GetFromJsonAsync<OrderWithStatus>($"api/orders/{OrderId}");
            }
            catch(Exception ex)
            {
                InvalidOrder = true;
                PollingCancelationToken.Cancel();
                Console.Error.WriteLine(ex);
            }

            StateHasChanged();
            await Task.Delay(4000);
        }
    }

}
